---
layout: splash
header:
  actions:
    - label: "Resume"
      url: "/resume/"
    - label: "Linkedin"
      url: "https://www.linkedin.com/in/muwnawn/"
  overlay_color: "#7A8288"
  overlay_image: /images/dark_header_ava_small.png
  
title: About me
excerpt: "Hi, my name is Minh Anh and I work as a Data Analyst/Business Analyst. <br> I am a fast-learner with core values including intellectual ability (critical thinking, problem solving) and great enthusiasm for exploring and developing in Data Analysis field."

feature_row_1:
  - image_path: /images/DA_img_1.png
    alt: "analysis"
    title: "Data Preparation and Analysis"
    excerpt: "Inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making. Tools being used are Excel, SQL and Python."
    url: "/docs/categories-analysis/"
    btn_class: "btn--primary"
    btn_label: "See projects"
feature_row_2:
  - image_path: /images/DA_img_3.png
    alt: "analysis"
    title: "Data Visualisation"
    excerpt: "Graphical representation of information and data by using Power BI to provide an accessible way to see and understand trends, outliers, and patterns in data."
    url: "/docs/categories-visualisation/"
    btn_class: "btn--primary"
    btn_label: "See projects"
---

{% include feature_row id="feature_row_1" type="left"  %}
{% include feature_row id="feature_row_2" type="right" %}
